<div class="container">
    <form #loginForm="ngForm" (submit)="loginUser(loginForm)">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" required="required" name="emailId" [(ngModel)]="loginObj.emailId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" required="required" name="password" [(ngModel)]="loginObj.password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-warning" (click)="resetForm(loginForm)">Reset</button>
    </form>
</div>
